/* Color Theme Swatches in Hex */
.black-text { color: #222026; }
.header-background { color: #31594E; }
.sidebar-background { color: #8DA693; }
.main-background { color: #D9D4BA; }
.highlight-color { color: #D9734E; }


body {
    font-family: 'Courier', monospace;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #31594e;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.head {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.head h1,
.head p {
    color: #fff;
}

.head h1 {
    font-size: 40pt;
    margin: 0;
}

img.logo {
    width: 100px;
    height: 110px;
    margin-left: 20px;
}

img.title {
    width: 629.302px;
}

.main {
    display: flex;
    background-color: #d9d4ba;
}

.nav {
    display: flex;
    padding: 10px;
    width: 300px;
    background-color: #8da693;
    flex-direction: column;
    align-items: center;
}

.body-text {
    flex: 3;
    display: flex;
    margin: 1em 3em;
    color: #222026;
    gap: 30px;
    margin-left: 30px;
}

.body-text img {
    height: 269.415px;
    width: 150px;
}

.article {
    display: flex;
    flex-direction: column;
}

.nav a {
    color: #000;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 16pt;
}
.nav a:hover {
    text-decoration: underline;
}

.nav ol {
    list-style: upper-roman;
    margin-left: 3em;
    color: #fff;
}

.nav ol li {
    margin-bottom: 10px;
}

.nav img {
    width: 100px;
    height: 107px;
    opacity: 0.7;
    border: 1px solid;
    padding: 10px 80px;
}

/* h1 {
    font-size: 75pt;
    margin-bottom: 0;
}
h1, h2 {
    font-family: "Helvetica", sans-serif;
} */

.main h1, 
.main h2 {
    font-family: 'Courier', monospace;
    margin: 0;
}

.main h1 {
    font-size: 35pt;
}

.main h2 {
    font-size: 20pt;
}

footer {
    background-color: #d9734e;
    text-align: center;
    position: sticky;
    width: 100%;
    bottom: 0px;
}